$color-white: rgb(255,255,255);
$color-primary: #845ec2;
$color-secondary-1: #2c73d2;
$color-secondary-2: #0081cf;
$color-secondary-3: #0089ba;
$color-tertiary-1: #008e9b;
$color-tertiary-2:  #008f7a;

$color-button-accept: #4CAF50;
$color-button-decline: #C23931;
$font-heading-primary: 'Courier New', Courier, monospace;
$font-text-primary: 'Proza Libre', sans-serif;