.createLesson{
    max-width: 160rem;
    margin: 1rem auto;
    padding: 0 0 2rem 0;
    width: 100%;
    height: 100%;
    position: relative;
    border: 5px solid hotpink;
    background: linear-gradient(150deg, rgba($color-primary, 1) 30%, rgba($color-secondary-3, 1) 85%, rgba($color-tertiary-1, 1) 100%);
    &::before{
        content: "";
        // background-image: url("../images/form_background.png");
        // background-size: cover;
        // background-repeat: no-repeat;
        // position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.lesson{

    &__form{
        padding: 2rem;
        border: .3rem solid red;
    }
}