.icon{
    &__new{
        position: absolute;
        // background: linear-gradient(to right top, rgba($color-primary, 1), rgba($color-secondary-1, 1));
        background-color: rgba($color-button-accept, 1);
        padding: 1.78rem;
        // border: 1px solid red;
        cursor: pointer;

        &--paragraph{
            cursor: pointer;
            bottom: 3.5rem;
            left: 3.98rem;
            border-radius: 4px 0 0 4px;
        }

        &--shopping{
            bottom: 4.99rem;
            left: 15.78rem;
            border-radius: 10px 0 0 10px;
        }

        &--recipe{
            bottom: 2.49rem;
            left: 4.5rem;
            border-radius: 4px 0 0 4px;
        }

        &:hover{
            background: $color-primary;
        }

    }
}