.icon{
    &__new{
        position: absolute;
        // background: linear-gradient(to right top, rgba($color-primary, 1), rgba($color-secondary-1, 1));
        background-color: rgba($color-button-accept, 1);
        padding: 1.6rem;
        border: 2px solid transparent;
        cursor: pointer;
        transition: all .2s;

        &--paragraph{
            cursor: pointer;
            bottom: 3.5rem;
            left: 3.98rem;
            border-radius: 4px 0 0 4px;
        }

        &--shopping{
            bottom: 3.5rem;
            left: 20.6rem;
            border-radius: 4px 0 0 4px;
        }

        &--recipe{
            bottom: 2.49rem;
            left: 4.5rem;
            border-radius: 4px 0 0 4px;
        }

        &:hover{
            // background: linear-gradient(to right top, rgba($color-primary, 1), rgba($color-secondary-1, 1));
            background: white;
            border: 2px solid rgba($color-button-accept, 1);
        }
        &:hover > svg{
            fill: $color-button-accept !important;
            // stroke: $color-button-decline !important;
            // stroke-width: .2rem;
        }
    }
}

.icon__add{
    fill: green;
}