.modal{
    position: fixed;
    font-family: $font-text-primary;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: rgba($color-grey-2, .6);
    z-index: 50;
    display: block;
    color: $color-grey-2;

    &__container{
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        min-width: 45rem;
        // height: 30%;
        background: $color-grey-2;
        border: 2px solid $color-tertiary-1;
        border-radius: 3px;
        z-index: 100;    
    }

    &__form{
        // background: purple;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 4rem 0;

        &--heading{
            text-align: center;
            margin-bottom: 5.5rem;
            line-height: 2.5rem;
            text-transform: uppercase;
            font-weight: 200;
            color: $color-white;

            &-secondary{
                text-transform: capitalize;
            }
        }
        &--label {
            //fix this to align with the text on the left
            // add animation to move up and fade in to match the 
            // display: none;
            font-size: 1.3rem;
            font-weight: 600;
            padding:0.6rem 1.8rem;
            width: 10rem;
            position: absolute;
            left: 0;
            transition: all .5s ease-in;

            &-active{
                transform: translateY(2.8rem);
                color: $color-tertiary-1;
            }
        }
        &--input{
            // background: red;
            margin: 0 auto 2.5rem auto;
            width: 50%;
            position: relative;

            & > input {
                font-family: $font-text-primary !important;
                padding:0.5rem 1.8rem;
                width: 100%;
                font-size: 1.3rem !important;
                border-radius: 3px;
                // background: red !important;
                margin: 0 auto;

                &:focus{
                    border-bottom: .4rem solid $color-tertiary-1 !important;
                }

                &:focus ~ label{
                    color: rgba($color-grey-2, .6);
                    // transform: translateY(2.8rem);
                    // color: $color-tertiary-1;
                    // left: 0;
                    // display: inline-block;
                }
            }
        }

    }

    &__button{
        // background: blue;
        // display: inline-block;
        text-align: center;
        flex: 1;
        margin: 1rem 0;
        
        color: $color-white;

        &--submit{
            text-align: center;
            background: $color-button-accept;
            padding: .75rem 1.5rem;
            max-width: 10rem;
            border: 2px solid darken($color-button-accept, 10%);
            border-radius: 3px;
            color:$color-white;
            margin: 1.5rem auto 3rem auto;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 600;
            transition: all .5s ease-in-out;

            &:hover{
                background: $color-primary;
                border: 2px solid darken($color-primary, 10%);
                color:$color-tertiary-1;
            }
        }

        &--toggle{
            cursor: pointer;
            margin-left: .5rem;
            color: $color-tertiary-1;
            border-bottom: 1px solid transparent;
            transition: all .5s ease-in-out;
            text-align: center;
            display: inline-block;

            &:hover{
                border-bottom: 1px solid $color-white;
                color: $color-white;
            }
        }
    }
}