.forum{
    margin: 0 auto;
    // max-height: 70vh;
    width: 80%;
    min-width: 26rem;
    background: #eee;
    position: relative;
    // border: 2px solid $color-grey-2;

    @include respond("phone"){
        width: 100%;
    }

    &__heading{
        padding: .75rem 0 4rem 0;
        font-weight: 500;
        background: $color-primary;
        color: $color-grey-1;
        & h1 {
            font-weight: 500;
            font-size: 2.2rem;
        }
        & h2 {
            color: $color-tertiary-1;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
    // posts container
    &__posts{
        display: flex;
        flex-wrap: wrap;
        background: $color-primary;
        padding: 2rem 1.5rem;
        // flex-direction: column;
    }
    // individual post
    &__post{
        width: 100%;
        // padding: 0 1.5rem;
        // background: #eee;
        &--title{
            padding: .75rem 1.2rem;
            font-size: 1.6rem;
            font-family: $font-text-primary;
            font-weight: 400;
            border-radius: 2px 2px 0 0;
            background: $color-grey-2;
            color: $color-tertiary-1;
            // border-top: 2px solid #eee;
            // border-left: 2px solid #eee;
            // border-right: 2px solid #eee;
        }
        &--info{
            background: $color-grey-1;
            color: $color-grey-2;
            font-family: $font-heading-primary;
            font-size: 1.1rem;
            font-weight: 600;
            letter-spacing: 1px;
            border-radius: 0 0 2px 2px;
            padding: .75rem 0 0.1rem 2.5rem;
        }
        &--actions{
            align-items: center;
            flex: 1;
            padding: .75rem 2.5rem 0.1rem 0;
            gap: 0 .5rem;
            font-weight: 600;
            letter-spacing: 1px;
            font-size: 1.1rem;
            background: $color-grey-1;
        }
        &--controls{
            flex: 1;
            justify-content: flex-end;
            cursor: pointer;

            & > * {
                visibility: hidden;
            }
        }

        &--controls:hover > *{
            visibility: visible;
        }
    }
    
    &__controls{
        background: $color-primary;
        border-radius: 0 0 2.5px 2.5px; 

        & > input {
            font-size: 4rem;
        }
    }

    &__icon{
        
        & > svg {
            height: 2rem;
            width: 2rem;
            fill: $color-primary;
        }
    }

    &__question{
        // position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        & > input {
            width: 60%;
            min-height: 8rem;
        }
        // min-width: 90rem;
        // z-index: 1;
        // height: 0;
        // max-height: 0;
        // transition: all .8s ease;

        &--initialLoad{
            animation: fadeOut 0s ease forwards;
        }
        
        &--show{
            // opacity: 1;
            animation: fadeIn 1s ease forwards;
            // max-height: 100vh;
            // min-height: 10rem;
            // height: auto;
            // max-height: 100vh;
            // visibility: visible;
            & > * {
                opacity: 1;
                // animation: fadeIn 1s ease forwards;
            }
        }
        &--hide{
            animation: fadeOut 2s ease forwards;
            & > * {
                animation: fadeOut 1s 2s ease forwards;
            }
        }
    }

    &__response{
        background: $color-grey-1;
        border-bottom: 1px solid $color-grey-2;
        width: 95%;
        margin: 0 auto;
        padding: .25rem .75rem;

        &--post{
            font-size: 1.6rem;
            color: $color-grey-2;
        }

        &--form{
            background: $color-primary;
            width: 100%;
            max-height: 0;
            & > form {
                opacity: 1;
                min-height: 0;
                
                & > * {
                    max-height: 100vh;
                    opacity: 1;
                }
            }
            
            & > form textarea {
                font-family: $font-heading-primary;
                background: white;
                width: 85%;
                display: block;
                margin: 0 auto;
            }
            & > p {
                color: transparent;
                transition: none;
            }
        }
        &--show {
            // max-height: 100vh;
            // transition: max-height 1.2s ease forwards;
            background: $color-grey-2;
            animation: fadeIn 2s ease;
            // visibility: visible;
            // opacity: 1;
            & > * {
                opacity: 1;
                transition: opacity .5s 2s ease forwards;
            }

            & h1 {
                color: $color-grey-2;
                font-size: 3rem;
                font-family: $font-heading-primary;
                font-weight: 500;
                text-align: center;
                flex: 1 0 100%;
            }
        }

        &--hide{
            // transition: max-height 800ms 50ms ease-in, opacity 150ms ease-out;
            animation: fadeOut 1s ease-out forwards;
            position: relative;
            // transform: scaleY(0);
            // visibility: hidden;
            opacity: 0;
            & > * {
                opacity: 0;
                transition: opacity 0s;
            } 
        }
    }

    &__submit{
        text-align: center;
        display: inline-block;
        background: red;
        padding: .75rem 1.5rem;
        margin: 0 auto;
    }
}

.show{
    max-height: 100vh;
    visibility: visible;
    
    & > form {
        visibility: visible;
        opacity: 1;
        max-height: 100vh;
        // background: firebrick;

        & > * {
            // max-height: 100vh;
            // opacity: 1;
            // transition: opacity 2s ease, max-height 2s ease-in;
            animation: fadeIn 2s ease forwards;
        }
        & > p {
            color: transparent;
            transition: none;
        }
    }
}

.hide{
    min-height: 0rem;
    visibility: hidden;
    transition: all .8s .8s ease;
    max-height: 0rem;

    & > form {
        animation: fadeOut 1.5s ease;
        & > * {
            visibility: hidden;
            // max-height: 0;
            animation: fadeOut 1.3s ease;
        }
        
        & > p {
            color: transparent;
            transition: none;
        }
    }

    & > form textarea {
    }
}

@keyframes fadeIn{
    0%{
        max-height: 0;
        opacity: 0;
        visibility: hidden;
    }
    5%{
        visibility: visible;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        max-height: 100vh;
    }

}

@keyframes fadeOut {
    0%{
        // visibility: visible;
        opacity: 1;
        max-height: 100vh;
    }
    100%{
        visibility: hidden;
        opacity: 0;
        max-height: 0;
    }
}
