.form{
    position: relative;
    border: .5rem solid silver;
    border-radius: 2.5rem;
    box-shadow: 1.2rem 1.2rem 1.5rem 1.5rem rgba(0,0,0, .4);
    margin: 0 auto;
    // background: linear-gradient(to right top, rgba($color-white, 0.6), rgba($color-white, .4));
    // background: red;
    max-width: 90rem;
    z-index: 3;

    &__header{
        font-family: $font-heading-primary;
        flex-basis: 100%;
        // border: 1px solid red;
        text-align: center;

        &--primary{
            font-size: 4.5rem;
            padding: 2rem 0;
            font-weight: 400;
        }

        &--secondary{
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 1rem;
            font-family: $font-heading-primary;
        }
    }

    &__heading{
        &--secondary{
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }
    }

    &__section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        padding: 2rem;
        background: $color-white;
        border-radius: 2.3rem;

        &--text{
            flex: 0 0 90%;
            text-align: center;
            padding: 3rem 0;
            background: #D0D0D0;
            border: .2rem solid #C3C3C3;

            border-radius: 3px;
        }

        &--photo{
            // border: .2rem solid rgba($color-tertiary-1, 1);
        }
    }
}

// @supports (backdrop-filter: blur()){
//     .form{
//         backdrop-filter: blur(1.5rem);
//     }
// }

// @supports not (backdrop-filter: blur()){
//     .form{
//         background: linear-gradient(to right top, rgba($color-white, 0.9), rgba($color-white, .6));
//     }
// }