.user{
    background: chartreuse;
    display: flex;

    &__settings{
        flex: 1;
        min-width: 35rem;
        word-wrap: break-word;
        background: grey;

        &--edit{
            font-size: 1.3rem;
            font-weight: 500;
            font-family: $font-text-primary;
            background: $color-primary;
            padding: 1rem;
            & > span {
                text-transform: uppercase;
                font-weight: 600;
                // font-size: 1.6rem;
            }
        }
    }

    &__navigation{
        background: red;
        flex: 0 1 25rem;
        // min-width: 25rem;

        @include respond("tab-port"){
            background: blue;
            flex: 0 1 0;
            width: 0;
        }
    }

    &__content{
        padding: 2rem 5rem 0 5rem;
        background: yellow;

        @include respond("phone"){
            padding: 0 1.5rem;
        }
        &--recipes{
            display: flex;
            flex: 0 1 100%;
            flex-wrap: wrap;
            justify-content: space-around;

        }
    }

    &__setting:not(:last-of-type){
        margin-bottom: 2rem;
    }
}