$color-white: rgb(255,255,255);
$color-grey-1: #838383;
$color-grey-2: #303030;
$color-primary: #845ec2;
$color-secondary-1: #2c73d2;
$color-secondary-2: #0081cf;
$color-secondary-3: #0089ba;
// $color-tertiary-1: #008e9b;
// $color-tertiary-2:  #008f7a;
$color-tertiary-1: #FAE64D;


$color-button-accept: #4CAF50;
$color-button-decline: #C23931;
$font-heading-primary: 'Courier New', Courier, monospace;
$font-text-primary: 'Proza Libre', sans-serif;

//BOX-SHADOWS
$box-shadow-1: 0 .4rem .7rem 0rem rgba($color-grey-2, .6);

//ICON STYLES

//sizes
$icon-size-small: 1.5em;
$icon-size-medium: 2em;
$icon-size-large: 2.5em;
//transitions
$icon-transition-15: all .1s ease-in;
//backgrounds
$icon-gradient-1: linear-gradient(to right top, rgba($color-primary, 1) 45%, rgba($color-secondary-1, 1));
$icon-gradient-2: linear-gradient(to right bottom, rgba($color-primary, 1) 45%, rgba($color-tertiary-1, 1));
$background-gradient-1: linear-gradient(to right top, rgba($color-primary, 1) 30%, rgba($color-secondary-1, 1));