.createLesson{
    max-width: 180rem;
    margin: 0 auto;
    padding: 0 0 2rem 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
    background: linear-gradient(150deg, rgba($color-primary, 1) 30%, rgba($color-secondary-3, 1) 75%, rgba(#008e9b, 1) 100%);

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

.lesson{

    &__form{
        padding: 2rem;
        border: .3rem solid red;
    }
}

@supports(backdrop-filter: blur()){
    .createLesson{
        background-image: url("../../images/ChesterNew.jpg");
    }
}