.form{
    position: relative;
    display: flex;
    // flex-direction: column;
    // justify-content: center;
    border: .5rem solid silver;
    border-radius: 2.5rem;
    box-shadow: 1.2rem 1.2rem 1.5rem 1.5rem rgba(0,0,0, .4);
    margin: 0 auto 10rem auto;
    padding: 2rem 4rem;
    background: linear-gradient(to right top, rgba($color-white, 0.6), rgba($color-white, .4));
    // backdrop-filter: blur(1.5rem);
    max-width: 90rem;
    z-index: 3;

    &__header{
        font-family: $font-heading-primary;
        // border: 1px solid green;
        text-align: center;
        
        &--primary{
            font-size: 3.5rem;
            padding: 2rem 0;
        }
    }

    &__heading{
        &--secondary{
            font-size: 1.8rem;
        }
    }

    &__section{
        border: .3rem solid purple;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 2rem;
    }

    &__control{
        // color: $color-primary;
        // border: 1px solid blue;
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        &--button{
            padding: 1rem 2rem;
            border-radius: 3px;
            color: $color-white;
            cursor: pointer;
        }

        &--back{
            background-color: $color-primary;

            &:hover{
                background-color: $color-button-decline;
            }
        }
        &--forward{
            background-color: $color-primary;

            &:hover{
                background-color: $color-button-accept;
            }
        }
    }
}

@supports (backdrop-filter: blur()){
    .form{
        backdrop-filter: blur(1.5rem);
    }
}

@supports not (backdrop-filter: blur()){
    .form{
        background: linear-gradient(to right top, rgba($color-white, 0.9), rgba($color-white, .6));
    }
}