.navigation{
    width: 100vw;
    padding-top:2rem;
    display: flex;
    justify-content: space-between;
    background: $color-secondary-1;
    border-bottom: .3rem solid $color-grey-2;

    &__link{
        color: $color-primary;
        font-size: 1.7rem;
        text-decoration: none;
        display: flex;
        background: $color-tertiary-1;
        margin-right: .2rem;
        padding: 1rem 1.5rem;
        // clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
        border-radius: 30% 30% 0 0;

        &:hover{
            background: darken($color-tertiary-1, 10%);
        }

        &:hover > &--label{
            opacity: 1;
        }
        &:hover > .icon__container--navigation > svg{
            fill: $color-primary;
        }

        &--container{
            display: flex;
        }

        &--label{
            opacity: 0;
            padding: .375em 1rem;
            transition: opacity .8s ease-in;
            font-family: $font-heading-primary;
        }

        &__search{

        }
    }
}
