.flex{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;

    &__heading{
        font-size: 2rem;
        font-weight: 300;
        font-family: $font-text-primary;
        padding: 2rem 1rem;
    }

    &__justify{
        &--center{
            justify-content: center;
        }
        &--space-around{
            justify-content: space-around;
        }
    }
}

@for $i from 1 through 12 {
    .col-#{$i} {
        flex: 0 0 (100% / (12 / $i) );
    }
}

.col-4{
    min-width: 24rem;
}