*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-bottom-medium {
  margin-bottom: 6rem;
}

.u-absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

input:not([type=submit]):not([type=file]) {
  color: #303030;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 2rem;
  padding: 0.5rem 1.8rem;
  border: none;
  border-bottom: 2px solid transparent;
}

input:not([type=submit]):not([type=file]):focus {
  outline: none;
  border-bottom: 2px solid #c23931;
}

input[type=file] {
  display: none;
}

.input__text {
  margin: 0 auto 0.5rem auto;
  border-radius: 3px;
}
.input__text--yield {
  max-width: 7rem !important;
  text-align: center;
}
.input__ingredient {
  position: relative;
  background-color: #d0d0d0;
  border: 2px solid #c3c3c3;
  border-radius: 4px;
  width: 80%;
  padding: 2rem 4rem;
  margin-bottom: 3rem;
}
.input__ingredient--container {
  display: flex;
  justify-content: center;
}
.input__ingredient--container > input {
  border: none;
  border-right: 1px solid #838383;
  margin-bottom: 0.5rem;
}
.input__ingredient--ingName {
  display: inline-block;
  max-width: 35%;
  text-align: center;
  border-radius: 3px 0 0 3px !important;
  border: none;
}
.input__ingredient--quantity {
  display: inline-block;
  max-width: 12%;
  text-align: center;
  border-radius: 0 !important;
}
.input__ingredient--unit {
  display: inline-block;
  max-width: 15%;
  text-align: center;
}
.input__ingredient--type {
  display: inline-block;
  max-width: 25%;
  text-align: center;
  border-radius: 0 3px 3px 0;
}
.input__container--header {
  color: #303030;
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-bottom: 3rem;
}
.input__container--text {
  position: relative;
  margin-bottom: 4rem;
}
.input__container--shopping {
  display: flex;
  flex-direction: column;
}

.images__input {
  max-width: 100% !important;
}

textarea {
  color: green;
  font-family: "Courier New", Courier, monospace;
  width: 80%;
  min-width: 30rem;
  min-height: 20rem;
  outline: none;
  border: none;
  border-radius: 3px;
  resize: vertical;
}

textarea:focus {
  border: 2px solid #845ec2;
}

.form__icon {
  color: blue;
  border: 1px solid red;
}

.icon__container {
  position: absolute;
  padding: 1.6rem;
  cursor: pointer;
}
.icon__container--paragraph {
  cursor: pointer;
  bottom: 3.5rem;
  left: 4rem;
  border: 2px solid transparent;
  border-radius: 4px 0 0 4px;
  background: linear-gradient(to right top, #845ec2 45%, #2c73d2);
  transition: all 1s ease;
}
.icon__container--shopping {
  background: linear-gradient(to right top, #845ec2 45%, #2c73d2);
  background-color: #845ec2;
  border: 2px solid transparent;
  left: 21rem;
  border-radius: 4px 0 0 4px;
  transition: all 1s ease;
}
.icon__container--recipe {
  bottom: 2.51rem;
  left: 4.9rem;
  border: 2px solid transparent;
  border-radius: 4px 0 0 4px;
  background: linear-gradient(to right top, #845ec2 45%, #2c73d2);
  transition: all 1s ease;
}
.icon__container--recipe:hover, .icon__container--paragraph:hover, .icon__container--shopping:hover, .icon__container--photo-add:hover {
  border-left: 2px solid #845ec2;
  border-top: 2px solid #845ec2;
  border-bottom: 2px solid #845ec2;
  border-radius: 50% 0 0 50%;
}
.icon__container--recipe:hover > svg, .icon__container--paragraph:hover > svg, .icon__container--shopping:hover > svg, .icon__container--photo-add:hover > svg {
  fill: #4CAF50;
}
.icon__container--form-control {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  background: linear-gradient(to right top, #845ec2 45%, #2c73d2);
  position: absolute;
  top: 2rem;
  transition: all 0.2s ease-in;
  box-shadow: 0 0.4rem 0.7rem 0rem rgba(48, 48, 48, 0.6);
}
.icon__container--form-control-left {
  left: 2rem;
}
.icon__container--form-control-right {
  right: 2rem;
}
.icon__container--form-control::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 100%;
  background: linear-gradient(to right bottom, #845ec2 45%, #fae64d);
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.icon__container--form-control:hover {
  top: 1.9rem;
  box-shadow: 0 0.6rem 0.7rem 0rem rgba(48, 48, 48, 0.6);
}
.icon__container--form-control:active {
  top: 2.1rem;
  box-shadow: 0 0.2rem 0.7rem 0rem rgba(48, 48, 48, 0.6);
}
.icon__container--form-control:hover::before {
  opacity: 1;
}
.icon__container--form-control:active::before {
  opacity: 0;
}
.icon__container--photo {
  display: inline-block;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  background: linear-gradient(to right top, #845ec2 45%, #2c73d2);
  margin-bottom: 2.5rem;
  border-radius: 100%;
  padding: 2rem;
  box-shadow: 0 0.4rem 0.7rem 0rem rgba(48, 48, 48, 0.6);
}
.icon__container--photo::before {
  content: "";
  background: linear-gradient(to right bottom, #845ec2 45%, #fae64d);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 1s;
}
.icon__container--photo:hover::before {
  opacity: 1;
}
.icon__arrow-left, .icon__arrow-right, .icon__photo-add {
  height: 2em;
  width: 2em;
  fill: white;
  transition: fill 0.5s ease-out;
}
.icon__add {
  fill: white;
  height: 1.5em;
  width: 1.5em;
  transition: fill 0.8s ease-in;
}
.icon__home, .icon__recipe, .icon__create, .icon__about, .icon__user, .icon__user_add, .icon__logout {
  fill: #838383;
  height: 2em;
  width: 2em;
  transition: 0.5s ease-out;
}
.icon__close {
  fill: #FAE64D;
  height: 2.5em;
  width: 2.5em;
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.icon__close:hover {
  fill: #C23931;
}

.drop-down {
  position: relative;
  z-index: 4;
}
.drop-down:hover > ul, .drop-down ul ~ li {
  visibility: visible;
  opacity: 1;
  background: #303030;
}
.drop-down__drop-down {
  min-width: 14.5rem;
  position: absolute;
  border-right: 2px solid #838383;
  border-left: 2px solid #838383;
  border-bottom: 2px solid #838383;
  right: 0;
  z-index: 4;
  padding: 0.8rem 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.93s ease-in-out;
  list-style: none;
}

.modal {
  position: fixed;
  font-family: "Proza Libre", sans-serif;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: rgba(48, 48, 48, 0.6);
  z-index: 50;
  display: block;
}
.modal__container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background: #303030;
  border: 2px solid #FAE64D;
  border-radius: 3px;
  z-index: 100;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
}
.modal__form--heading {
  text-align: center;
  margin-bottom: 5.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-weight: 200;
  color: white;
}
.modal__form--heading-secondary {
  text-transform: capitalize;
}
.modal__form--label {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem 1.8rem;
  width: 10rem;
  position: absolute;
  left: 0;
  transition: all 0.5s ease-in;
}
.modal__form--input {
  margin: 0 auto 2.5rem auto;
  width: 50%;
  position: relative;
}
.modal__form--input > input {
  font-family: "Proza Libre", sans-serif !important;
  padding: 0.5rem 1.8rem;
  width: 100%;
  font-size: 1.3rem !important;
  border-radius: 3px;
  margin: 0 auto;
}
.modal__form--input > input:focus ~ label {
  transform: translateY(2.8rem);
  color: #FAE64D;
}
.modal__button {
  text-align: center;
  flex: 1;
  margin: 1rem 0;
  color: white;
}
.modal__button--submit {
  text-align: center;
  background: #4CAF50;
  padding: 0.75rem 1.5rem;
  max-width: 10rem;
  border: 2px solid #3d8b40;
  border-radius: 3px;
  color: white;
  margin: 1.5rem auto 3rem auto;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.modal__button--submit:hover {
  background: #845ec2;
  border: 2px solid #6a41ac;
  color: #FAE64D;
}
.modal__button--toggle {
  cursor: pointer;
  margin-left: 0.5rem;
  color: #FAE64D;
  border-bottom: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  text-align: center;
  display: inline-block;
}
.modal__button--toggle:hover {
  border-bottom: 1px solid white;
  color: white;
}

.createLesson {
  max-width: 95vw;
  margin: 0 auto;
  padding: 5rem 0;
  position: relative;
  background: #303030;
}
.createLesson::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}

.lesson__form {
  padding: 2rem;
  border: 0.3rem solid red;
}

@supports (backdrop-filter: blur()) {
  .createLesson {
    background-image: url("../../images/ChesterNew.jpg");
  }
}
.form {
  position: relative;
  border: 0.5rem solid silver;
  border-radius: 2.5rem;
  box-shadow: 1.2rem 1.2rem 1.5rem 1.5rem rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  max-width: 90rem;
  z-index: 3;
}
.form__header {
  font-family: "Courier New", Courier, monospace;
  flex-basis: 100%;
  text-align: center;
}
.form__header--primary {
  font-size: 4.5rem;
  padding: 2rem 0;
  font-weight: 400;
}
.form__header--secondary {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: "Courier New", Courier, monospace;
}
.form__heading--secondary {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.form__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  padding: 2rem;
  background: white;
  border-radius: 2.3rem;
}
.form__section--text {
  flex: 0 0 90%;
  text-align: center;
  padding: 3rem 0;
  background: #D0D0D0;
  border: 0.2rem solid #C3C3C3;
  border-radius: 3px;
}
.images-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem;
  background-color: #d0d0d0;
}
.images-form__image-box {
  text-align: center;
}
.images-form__image-box:not(:last-of-type) {
  margin-right: 2rem;
}
.images-form__container--input {
  font-size: 1.8rem;
  max-width: 20rem;
  margin: 0 auto;
}
.images-form__container--image {
  border: 0.3rem solid #845ec2;
  margin: 0 auto;
  background: rgba(48, 48, 48, 0.4);
  min-width: 20rem;
  max-width: 20rem;
  padding: 2rem;
}
.images-form__image {
  width: 100%;
  height: 100%;
}
.images-form__input {
  width: 100%;
}

.navigation {
  padding-top: 3.5rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right top, #845ec2 30%, #2c73d2);
}
.navigation__container {
  flex: 0 0 95vw;
}
.navigation__link {
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  position: relative;
  padding: 0.1rem 0.5rem;
}
.navigation__link--active {
  fill: #FAE64D;
}
.navigation__link::before {
  content: "";
  height: 2px;
  background-color: #FAE64D;
  position: absolute;
  bottom: 0;
  width: 0;
  transition: all 0.4s ease-in-out;
}
.navigation__link:hover::before {
  background: #f9df1b;
  width: 90%;
}
.navigation__link:hover > .navigation__link--label {
  color: #FAE64D;
}
.navigation__link:hover > .icon__container--navigation > svg {
  fill: #FAE64D;
}
.navigation__link--container {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.navigation__link--label {
  opacity: 1;
  padding: 0.375em 1rem;
  transition: all 0.4s ease-in-out;
  font-family: "Proza Libre", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
}
.navigation__search {
  background: slateblue;
}
.navigation__logo {
  width: 7rem;
  height: 7rem;
  background-image: url("./../images/cooking_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem;
  position: absolute;
  top: -0.25rem;
  left: 2vw;
}

/*# sourceMappingURL=styles.css.map */
