.difficulty{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    top: 2rem;
    right: 5rem;
    height: 2rem;
    width: 2rem;
    background-color: $color-white;
    @include respond("phone"){
        right: 2rem;
        top: 1rem;
    }

    & > h3{
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $color-white;
    }
    
    & h4 {
        font-size: 1.1rem;
    }
    
    & > *{
        color: $color-grey-2;
        text-align: center;
        letter-spacing: 2px;
    }
}

.easy{
    box-shadow: 0 0 0 1.1rem lighten($color-green, 10%),
                0 0 0 2.1rem $color-green,
                3px 4px 1.5rem 2.6rem $color-white;
    background: lighten($color-green, 20%);
}
.medium{
    box-shadow: 0 0 0 1.1rem lighten($color-orange, 10%),
                0 0 0 2.1rem $color-orange,
                3px 4px 1.5rem 2.6rem $color-white;
    background: lighten($color-orange, 20%);
}
.hard{
    box-shadow: 0 0 0 1.1rem lighten($color-red, 7%),
                0 0 0 2.8rem $color-red,
                3px 4px 1.5rem 3rem $color-white;
    background: lighten($color-red, 14%);
}
